@import "tailwindcss";

* ** **::before **::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins';
  background-color: #242526;
}

::-webkit-scrollbar {
  background-color: #006bb3;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #71bbec;
  border-radius: 1rem;
}
